name: BoostSecurity SBOM for Hackaton
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize

jobs:
  boost-sbom-hackaton:
    name: SBOM diff hackaton
    runs-on: ubuntu-latest
    env:
      BOOST_SCANNER_REGISTRY_REPO: https://github.com/boostsecurityio/scanner-testing
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload SBOM from Trivy
        uses: boostsecurityio/boostsec-scanner-github@v4
        with:
          api_endpoint: https://api.dev.boostsec.io
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          cli_version: 1.0.0.rc107
          registry_module: boostsecurityio/trivy-sbom-hackaton

  boost-sbom:
    name: SBOM
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload SBOM from Trivy
        uses: boostsecurityio/boostsec-scanner-github@v4
        with:
          api_endpoint: https://api.dev.boostsec.io
          api_token: ${{ secrets.BOOST_API_TOKEN }}
          registry_module: boostsecurityio/trivy-sbom

  run-docker-trivy:
    name: Run Trivy
    runs-on: ubuntu-latest
    steps:
      - run: |
          ls -la 
          pwd
          cd $PWD
          ls -la
          pwd
          cd ..
          ls -la
          pwd
          docker run --rm -v "$PWD:/app" aquasec/trivy:0.32.0 fs --format cyclonedx /app
